@import "../twitter_bootstrap/lib/bootstrap.less";


.page {
    .container;
    //margin-top: 40px;
}

.region-content,
#main {
    .gridColumn();
    .span11
}

.region-sidebar-first {
    .gridColumn();
    .span4
}

footer {
    .container;
}


/* display none */
.context-block-region {
    display: none;
}

/* form */
.form-item {
    .clearfix
}

.form-submit {
    .btn
}

/* */
.messages {
    .alert-message
}

/* specific */
.toolbar-drawer .topbar {
    top: 70px
}
.region-sidebar-first {
    border-left: 1px solid #EEE;
    padding-left: 19px;

    .input {
        margin-left: 0;
    }
}

#site-name {
    margin-bottom: 0;
}

#block-system-main-menu h2 {
    display: none;
}

.region-sidebar-first .block-search .form-text {
    .input-small
}

#comment-body-add-more-wrapper .filter-wrapper {
    display: none;
}

